
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.landing-header {
  text-align: center;
  height: 75px;
  padding: 20px;
}

.catchphrase {
  padding-top: 50px;
  text-align: center;
}

.route-button {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-top-none {
  margin-top: 0px;
}

.margin-bottom-none {
  margin-bottom: 0px;
}

.font-bold {
  font-weight: bold;
}

.font-size-m {
  font-size: medium;
}

.font-size-l {
  font-size: large;
}

.font-size-xl {
  font-size: x-large;
}

.center {
  text-align: center;
}

.pad-bottom {
  padding-bottom: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.social-media {
  padding-top: 10px;
  padding-right: 10px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.profile-image img {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h5 {
  margin: 0.7rem 0;
}

p {
  margin: 0.2rem 0;
}